body{

    width: 100%;
    padding: 0px;
    margin: 0px;
}

#container{
    width: 100%;
    height: auto;
    position: relative;
    background:  rgb(42, 36, 49) url(images/background1.jpg) ;
    background-blend-mode: multiply;
    background-size: cover
}

#head{
    width: 100%;
    height: 95px;
    background: #000000;
}
#head img{
    width: 100px;
    height: 80px;
    margin-top:6px ;
    margin-left: 25px;
}
nav{
    float: right;
    margin-top: 20px;
    margin-right: 10%;
}
#nav ul{
    list-style: none;
    margin: 5px ;
   
}
#nav ul li{
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    margin: 10px;
}
#nav ul li a{
    text-decoration: none;
    color: rgb(245, 240, 244);
    font-family: 'Montserrat';
    padding:5px;
}

#nav ul li a:focus{
    color: black;
    background: white;
    border-radius: 12px;
    transition: 0.1s;
}


#text1{
    color: rgba(248, 246, 253, 0.699);
    margin: 30px auto;
    font-size: 7rem;
    text-align: center;
    font-family: cursive;
}

#main p{
    width: 70%;
    text-align: center;
    font-family: 'Lobster';
    color: rgb(218, 181, 214);
    font-size: 2rem;
    margin: 50px auto;
}

#qoute p{
    display: inline-block;
    width: auto;
    font-family: cursive;
    text-align: center;
    margin: 20px 30%;
    padding: 10px;
    font-size: 20px;
    color: rgb(233, 203, 230);
    border: 2px rgb(96, 100, 105) solid;
}

#qoute p span{
    display: block;
    margin-top: 5px;
    float: right;
}

footer{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    font-family: 'Montserrat';
    font-size: 2rem;
    text-align: center;
    padding-top:10px;
    padding-bottom: 15px;
}

@media Screen and (min-width:482px) and (max-width:768px){
    nav{
        display: inline-block;
        margin-top: 24px;
    }

    #nav ul{
        display: inline;
        list-style: none;
     
       
    }
    #nav ul li{
        color: white;
        display: inline-block;
        font-size: 1rem;
    }

    #text1{
        font-size: 3rem;
    }

    
#qoute p{
    width: 90%;
   margin: 20px 2%;
    
}
    
}

@media Screen and (max-width:480px){
    #head{
        height: auto;
    }
    #head img{
        width: 80px;
        height: 60px;
        padding:7px 30%;
    
    }
    nav{
       background-color: rgb(9, 9, 10);
       background-size: cover;
        float: none;
       
        margin-top: 0px;
        margin-right: 0px;
        margin-left: -10%;
    }

    #nav ul{
        display: inline-block;
        width:100%;
        margin: 0 5%;
        list-style: none;
    }
    #nav ul li{
        color: white;
        display: inline-block;
        font-size: 1rem;
        margin:5px;
    }
    #text1{
        font-size: 2.5rem;
    }
    #main p{
        width: 90%;
    }
    
#qoute p{
    font-size: 1rem;
    width: 90%;
   margin: 20px 2%;
    }

    footer{
        font-size: 1.5rem;
    }
}
